/*
    Document   : override
    Created on : <23.08.17>
    Author     : <AlLi Pierre Yotti>
    Description:
        This is where any of your application specific styles should be included
*/


.oj-flex-bar-middle {
    margin-top: 20px;
}


/*.demo-oracle-icon:before {
    content: url("")
}*/

.demo-oracle-icon {
    width: 47px;
    height: 18px;
}


.oj-web-applayout-header {
    background-color: rgb(255, 255, 255);
}
#pageContent{
     background-color: rgb(255, 255, 255);
}


.oj-table-data-cell.oj-selected {
    background-color: rgb(4, 95, 171);
    color: rgb(255, 255, 255);
    
}

.oj-table.oj-focus .oj-table-data-cell.oj-selected {
    background-color: #045fab;
   
    
}

.oj-table-hgrid-lines.oj-selected,.oj-table-hgrid-lines.oj-focus {
     border-bottom: 1px solid rgb(4, 95, 171);
}

:focus {
    outline: none !important;
}

.oj-table-body-row.oj-focus:not(.oj-table-body-row-edit) {
    outline: none !important;
}

.oj-selected .demo-area-vert:before, .oj-selected.demo-area-vert:before, a:checked.demo-area-vert:before, a:checked .demo-area-vert:before {
    content: url(http://www.oracle.com/webfolder/technetwork/jet/css/samples/cookbook/images/dvt/area_vert_dwn.svg);
}

.oj-hover .demo-area-horiz:before, .oj-hover.demo-area-horiz:before, a:hover.demo-area-horiz:before, a:hover .demo-area-horiz:before {
    content: url(http://www.oracle.com/webfolder/technetwork/jet/css/samples/cookbook/images/dvt/area_horiz_ovr.svg);
}

.demo-area-stack:before {
    content: url(http://www.oracle.com/webfolder/technetwork/jet/css/samples/cookbook/images/dvt/area_stack_ena.svg);
}
/*
@media (max-width: 700px){
 .oj-flex {
    display: block;
}

.oj-sm-4 {
    max-width: 100%;
    width: 100%;
}
} */